link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Amatic+SC|Titillium+Web', rel='stylesheet')
link(rel="stylesheet" type="text/css" href="/styles/index.css")
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/utils/Draggable.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script(type='text/javascript', src='js/index.js')
.container-fluid
  .boxHeight
  .spritePos
  .row.classic
    #pieBox.col-xs-12
      #pieRotate
        button#pie-upper-left.wheel
          p ABOUT
        button#pie-upper-right.wheel
          p PORTFOLIO
        #pie-space
        button#pie-lower-left.wheel
          p CONTACT
        button#pie-lower-right.wheel
          p BLOG?
  #spriteMe
    .row
      #centerSprite.col-xs-12
        #centerDiv
          a(data-toggle='tooltip')
            svg.centerSprite(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
              title my vector image
              rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
              g.currentLayer
                title Sprite No.9
                path#svg_5(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M104.00386201145453,21.78295111199168 ', style='color: rgb(0, 0, 0);')
                path#svg_9(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M318.7325505318029,114.03101585539045 ', style='color: rgb(0, 0, 0);')
                path#svg_13(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M441.98836813012565,176.04652156523835 ', style='color: rgb(0, 0, 0);')
                path#svg_15(fill='#b80404', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M30.850170775007008,19.337146381525514 C33.791954634283194,15.69258780177546 34.77254744694724,8.89597251418543 38.13458381985545,8.107959607896333 C41.49662019276366,7.319947972278129 40.51602376591027,16.185094756369125 43.31772345397576,19.041641700500975 C46.11942314204127,21.898188644632825 65.4511327380371,24.557734585866456 63.34985932730899,28.005290892047412 C61.24858772367551,31.45284719822837 43.45780943228111,23.375712049755577 42.056960491795685,25.54274722438288 C40.656109744215605,27.70978239901018 53.543918551005724,60.01831536887599 48.64094906640142,53.61571098177862 C43.73797958179712,47.213106594681264 35.47297011009529,47.016100509099495 30.99025494621769,53.911216933474066 C26.50753978234008,60.80633208717776 31.410512881133705,28.990303530563835 33.51178448476716,26.52776367491198 C35.61305789549529,24.065223819260126 20.20372135725036,28.103789487490175 15.160665894340724,27.315776581201078 C10.11760862433642,26.527762404241088 27.908386915730834,22.981704961275582 30.850170775007008,19.337146381525514 z', style='color: rgb(0, 0, 0);')
  #aboutMe
    h2#aboutTitle.text-center  About Me
    .row
      #bio.col-xs-12.col-sm-4.text-center
        .icons
          h3
            i.fa.fa-male(aria-hidden='true')
        h4 Bio
        div
          p
            | Hey. My name is Paul Henderson and this is my crude attempt at writing a bio. I was born and live in Glasgow, Scotland. I am currently 26 years old. My hair is curly and my eyes are brown. These things are true.
      #hobbies.col-xs-12.col-sm-4.text-center
        .icons
          h3
            i.fa.fa-book(aria-hidden='true')
        h4 Interests
        div
          p
            | I read quite often, mostly fiction but I'll have a go at anything really. I should probably lie here about organised sports but I'm not going to. I love programming and I am determined to make a career out of it. 
            a(data-toggle='tooltip', title='As the Creator is at the beginning of his career, he is willing to learn anything to achieve his goal. He is interested in both front-end and back-end development.')
              img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
      #education.col-xs-12.col-sm-4.text-center
        .icons
          h3
            i.fa.fa-graduation-cap(aria-hidden='true')
        h4 Education
        div
          p
            | I have a BEng in Electronics and Electrical Engineering and an MSc in Nanoscience. I enjoy learning stuff, so I taught myself how to code and have made some projects which can be seen by clicking on the portfolio segment of the wheel.
            a(data-toggle='tooltip', title='The Creator has built some excellent projects using a variety of technolgies, these include: HTML, CSS, JavaScript and node.js.')
              img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
  #contactMe
    .text-center.row
      h2 Contact Me
      #faceAndEmail.col-xs-12
        #face
          img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1464898059/picture005_xcr6or.jpg')
        #friendly
          p
            | Profiles are hard. I included the picture above because I think I look friendly-ish in it. But maybe I don't, I'm not sure.
            span
              a(data-toggle='tooltip', title='The Creator is being modest, he is the friendliest friend who ever friended anyone.')
                img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
              span
                | All I know is that if you need to get in touch with me for any reason, just email me using the address below and I will get back to you. My github and codepen accounts are also below in case you want to snoop around.
      #contactPlaces.col-xs-12
        #emailPhone
          ul
            li  pkhenderson1162@gmail.com
        #meIcons
          a(href='https://github.com/pkh1162', target='_blank')
            button.btn.btn-primary
              i.fa.fa-github
          a(href='https://codepen.io/pkh1162/#', target='_blank')
            button.btn.btn-primary.codePen
              i.fa.fa-codepen
          //
            <a href="https://github.com/pkh1162" target="blank">
            <button class="btn btn-primary"><i class="fa fa-twitter"></i></button></a>
            <a href="https://github.com/pkh1162" target="blank">
            <button class="btn btn-primary "><i class="fa fa-linkedin"></i></button></a>
  #blogMe
    .row
      .col-xs-12
        h2
          | Blog (maybe) 
          a(data-toggle='tooltip', title='The Creator is unsure of what to put here. However, he is sure that that he wants to help people learn how to code, but he does not know the best way to go about it yet.')
            img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
  #portfolioMe
    h2 Portfolio
    #portfolioDesc
      | This page contains my portfolio. I created all of these projects on either codepen or cloud9 (hosted on heroku). These projects were all made using a combination of HTML, CSS, JavaScript (& JQuery), Node/Express and Mongodb. I have also created mini-projects using technologies such as Java, C# and SQL. The code for all of these projects can be seen on either my 
      a(href='https://github.com/pkh1162') gitHub
      |   or 
      a(href='https://codepen.io/pkh1162/#', target='_blank') codepen
      |  account 
      a(data-toggle='tooltip', title='The next step for the Creator is to learn React, and then onto Ruby.')
        img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
      | .
    .row.projects
      #wiki.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Wiki-viewer
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471624863/wiki2_bhoyak.png')
          .panel-footer
            a(href='https://codepen.io/pkh1162/full/wWomWx/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
      #tic-tac-toe.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Tic-tac-toe
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471628454/tictactoe1_lw43qv.png')
          .panel-footer
            a(href='https://codepen.io/pkh1162/full/qNjyoG/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
      #twitch.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Twitch Center
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471629446/twitch3_xvkczp.png')
          .panel-footer
            a(href='https://codepen.io/pkh1162/full/PzbWze/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
            a.pull-left(data-toggle='tooltip', title='Embedded videos do not work on Edge. The incompatability comes from the Twitch Video Api.')
              img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
      #simon-says.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Simon Says
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/c_scale,h_616,w_1349/v1476650922/https_zelda_says.herokuapp.com_akqkrs.png')
          .panel-footer
            a(href='https://zelda-says.herokuapp.com/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
            a.pull-left(data-toggle='tooltip', title="Polygon art supported only on Chrome at the moment. Working test page for Firefox can be seen on the Creator's codepen.")
              img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
    .row
      #voting-app.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Voting Application
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/c_scale,h_621,w_1349/v1477908826/Public_Poll_dhzeb4.png')
          .panel-footer
            a(href='https://voting-app-pkh1162.herokuapp.com/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
      //
        #timestamp.col-sm-3.col-xs-12
          .panel.panel-default
            .panel-heading
              | Timestamp App
            .panel-body(data-target='#myModal', data-toggle='modal')
              img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471866573/Url_Time_Stamp_Application_tjaphh.png')
            .panel-footer
              a(href='https://time-stamp-pkh1162.herokuapp.com/', target='_blank')
                i.fa.fa-arrow-circle-right(aria-hidden='true')
      #shortener.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Url Shortener
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471866573/Url_Shortener_Application_xbox6o.png')
          .panel-footer
            a(href='https://url-shortener-pkh1162.herokuapp.com/home', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
      #image-abstraction.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Image Abstraction Layer
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471866573/Image_Abstraction_Layer_revm3y.png')
          .panel-footer
            a(href='https://image-abstraction-pkh1162.herokuapp.com/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
      #calculator.col-sm-3.col-xs-12
        .panel.panel-default
          .panel-heading
            | Calculator
          .panel-body(data-target='#myModal', data-toggle='modal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/c_scale,h_606,w_1349/v1476652795/CodePen_FreeCodeCamp_Calculator_saokls.png')
          .panel-footer
            a(href='https://codepen.io/pkh1162/full/LkLxrY/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
    .row
      #quoteGen.col-sm-3.col-sm-12
        .panel.panel-default
          .panel-heading
            | Quote Generator
          .panel-body(data-toggle='modal', data-target='#myModal')
            img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471870140/CodePen_Quote_Generator_pduxzl.png')
          .panel-footer
            a(href='https://codepen.io/pkh1162/full/mEeZQV/', target='_blank')
              i.fa.fa-arrow-circle-right(aria-hidden='true')
            a.pull-left(data-toggle='tooltip', title='This was one of the first applications the Creator made. He felt he should leave it as it is to give some sense of progression. Personally, I think that everything the Creator does is timeless.')
              img.spritePic.responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1474996631/spriteNo9_agzrze.png')
      //
        #weatherApp.col-sm-3.col-xs-12
          .panel.panel-default
            .panel-heading
              | Weather App
            .panel-body(data-toggle='modal', data-target='#myModal')
              img.img-responsive(src='https://res.cloudinary.com/dxqcxsull/image/upload/v1471870968/weatherApp_vdhtzy.png')
            .panel-footer
              a(href='https://codepen.io/pkh1162/full/ezJjQr/', target='_blank')
                i.fa.fa-arrow-circle-right(aria-hidden='true')
      //
        <div class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-heading">
        Heading
        </div>
        <div class="panel-body">
        <img class="img-responsive" src="https://res.cloudinary.com/dxqcxsull/image/upload/v1471871618/Black_Question_Mark_Clipart_Clipart_Kid_c2vo6j.png">
        </div>
        <div class="panel-footer">
        Footer
        </div>
        </div>
        </div>
  .row.introRow
    .col-sm-4.hidden-xs.data
      .text
        p.spriteText "Hello, my name is Sprite No. 9. I will be your guide today."
        .spriteOptions
          label.q1 I don't have time for this, just take me to the profile
          label.q2 What is going on right now?
          label.q3 Wait, what happened to the other eight?
        button.goBack
          span.goBack.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      .triangle
      svg.sprite(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_5(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M104.00386201145453,21.78295111199168 ', style='color: rgb(0, 0, 0);')
          path#svg_9(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M318.7325505318029,114.03101585539045 ', style='color: rgb(0, 0, 0);')
          path#svg_13(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M441.98836813012565,176.04652156523835 ', style='color: rgb(0, 0, 0);')
          path#svg_15(fill='#b80404', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M30.850170775007008,19.337146381525514 C33.791954634283194,15.69258780177546 34.77254744694724,8.89597251418543 38.13458381985545,8.107959607896333 C41.49662019276366,7.319947972278129 40.51602376591027,16.185094756369125 43.31772345397576,19.041641700500975 C46.11942314204127,21.898188644632825 65.4511327380371,24.557734585866456 63.34985932730899,28.005290892047412 C61.24858772367551,31.45284719822837 43.45780943228111,23.375712049755577 42.056960491795685,25.54274722438288 C40.656109744215605,27.70978239901018 53.543918551005724,60.01831536887599 48.64094906640142,53.61571098177862 C43.73797958179712,47.213106594681264 35.47297011009529,47.016100509099495 30.99025494621769,53.911216933474066 C26.50753978234008,60.80633208717776 31.410512881133705,28.990303530563835 33.51178448476716,26.52776367491198 C35.61305789549529,24.065223819260126 20.20372135725036,28.103789487490175 15.160665894340724,27.315776581201078 C10.11760862433642,26.527762404241088 27.908386915730834,22.981704961275582 30.850170775007008,19.337146381525514 z', style='color: rgb(0, 0, 0);')
    .col-sm-4.col-xs-12.svgContainer
      .sphere
      svg.set1.s1.svgBlack(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M20.214687798822787,16.80752227628998 C19.31124651277094,-12.873288944784562 -0.6524604175156696,52.168489224922915 36.402196186930446,53.74167881104711 C73.45684852063464,55.31486839717131 63.92117441088333,43.86447946115857 58.41606423173153,31.7163506811639 C52.910958323321594,19.568216331548193 47.46092790263955,27.566927318628494 39.764756291734,32.580655611627876 C32.06858468082846,37.594378335006226 21.11812481413273,46.48833349736452 20.214687798822787,16.80752227628998 z', style='color: rgb(0, 0, 0);')
      svg.set1.s2.svgWhite(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M23.269453457487106,19.75443092303452 C43.9882886066691,12.77678640442132 -4.309616793413081,31.340515397396977 37.92710378564532,51.04640183901767 C80.16382918767316,70.7522848678513 61.53687985446155,28.896625402297843 49.63459677569974,36.281186761602754 C37.732318519907345,43.66575153369474 42.73604318198442,1.5955779240828534 31.32337348926076,7.064436104718104 C19.910703796537085,12.533287459779206 2.5506183083051073,26.73207202886065 23.269453457487106,19.75443092303452 z', style='color: rgb(0, 0, 0);')
      svg.set1.s3.svgGrey(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M19.57835599296833,15.503868288524302 C28.234614002945854,27.339164552864734 31.964119312204488,55.50260672857369 33.09181521926155,55.54719093279688 C34.21950407456111,55.591779141349534 72.11457005910869,31.363872046890414 56.39929827232553,13.061499611475734 C40.68402648554236,-5.240872823938948 53.032951423502816,26.96501602530968 42.69081564010566,23.66598512926668 C32.348672804950986,20.366950228894215 10.922112086505848,3.6685720241838777 19.57836304472585,15.503868288524302 z', style='color: rgb(0, 0, 0);')
      svg.set1.s4.svgBlack(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M23.07404570550234,29.063231699746126 C24.41978706906409,45.19096086219477 1.2127405168214516,18.58219420365619 18.017197980441757,45.93204311252164 C34.82164838324994,73.28190000073837 76.7133548749581,27.047448082100622 63.27491364149541,13.622764063226455 C49.83646534722061,0.19808004435228632 65.07550546073647,17.5859881547861 34.794965574264836,16.63299827245998 C4.514425687793204,15.680000410782569 21.728318463564822,12.93550253729748 23.07404570550234,29.063231699746126 z', style='color: rgb(0, 0, 0);')
      svg.set1.s5.svgWhite(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M26.541147434898964,28.265536725945847 C15.14538151108598,42.232974678453495 48.26844453721714,67.64317835090745 37.981011514392726,49.52910179852697 C27.693578491568303,31.4150252461465 44.32849143692944,25.336599271287902 58.56011916442146,34.059518230433575 C72.79175248032503,42.782431080639114 30.873988222042726,-11.054845803169659 19.05885112895432,13.697693810561605 C7.243714035865924,38.450239533232995 37.93691335871195,14.298098773438202 26.541147434898964,28.265536725945847 z', style='color: rgb(0, 0, 0);')
      svg.set2.s6(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M16.736178878759002,21.55673706073822 C42.96499334719676,41.81065223480633 11.04446456562382,28.422212471332358 26.597113792818636,43.26224415074002 C42.14976302001345,58.102269841040375 75.73319533240226,44.88480112382653 68.1762615123771,37.162835455637264 C60.619320460324204,29.440869787448005 63.402494016440606,38.55071524805131 48.736447998211936,30.312057314371685 C34.070401979983274,22.07339938069206 -9.492613893595522,1.3028158975628068 16.736186110786743,21.55673706073822 z', style='color: rgb(0, 0, 0);')
      svg.set2.s7(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M21.561387517361222,14.476854593725228 C12.79751455929079,45.092728842471246 29.4328440225217,54.12969188456051 24.202623711794622,47.73375398450704 C18.972398477200407,41.337820875368045 30.909738277110996,66.27149808106597 43.197775590536914,52.64344960448518 C55.48580798009569,39.01540591881888 68.84953300542509,-20.431094535152475 47.70731901049462,20.08746100173842 C26.565105015564168,60.606016538629305 30.325260475431655,-16.139024445935284 21.561387517361222,14.476854593725228 z', style='color: rgb(0, 0, 0);')
      svg.set2.s8(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.7751693725586', height='62.94572448730469')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M20.707115769796903,28.051339624547868 C-7.169168104651035,12.110407140589864 68.4763896429711,68.95763130326381 57.85420554137223,55.607490231895355 C47.232021439773376,42.2573566206359 55.19679293283098,37.711874909170774 61.54819981909626,39.49883211739292 C67.89960670536155,41.28578932561508 54.73024861119801,28.83195050961247 54.42767670851761,9.52972417568913 C54.12510480583721,-9.772502158234207 48.58339964424484,43.99227956861487 20.707115769796903,28.051339624547868 z', style='color: rgb(0, 0, 0);')
      svg.set2.s9(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.77517312146483', height='62.94572410127273')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M8.603820733280182,57.709320805244445 C8.603820733280182,57.709320805244445 57.44103073328018,56.158930805244445 57.44103073328018,56.158930805244445 C73.72010073328018,61.58529080524445 27.98368073328018,49.95736080524445 47.36351073328018,26.701550805244445 C66.74335073328018,3.4457508052444457 90.77436073328018,-3.531009194755554 32.63483073328018,18.949620805244447 C-25.504699266719822,41.43025080524445 46.58831073328018,37.554280805244446 8.603810733280183,57.709320805244445 z', style='color: rgb(0, 0, 0);')
      svg.set2.s10(xmlns='https://www.w3.org/2000/svg', xmlns:se='https://svg-edit.googlecode.com', xmlns:xlink='https://www.w3.org/1999/xlink', xmlns:dc='https://purl.org/dc/elements/1.1/', xmlns:cc='https://creativecommons.org/ns#', xmlns:rdf='https://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:inkscape='https://www.inkscape.org/namespaces/inkscape', width='77.77517312146483', height='62.94572410127273')
        title my vector image
        // Created with Vector Paint - https://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo
        rect#backgroundrect(width='100%', height='100%', x='0', y='0', fill='none', stroke='none')
        g.currentLayer
          title Layer 1
          path#svg_1(fill='#000000', fill-opacity='1', stroke='#222222', stroke-opacity='1', stroke-width='2', stroke-dasharray='none', stroke-linejoin='round', stroke-linecap='butt', stroke-dashoffset='', fill-rule='nonzero', opacity='1', marker-start='', marker-mid='', marker-end='', d='M20.791555099962935,48.34377092953457 C22.03932762854396,35.502668582264924 44.096497492104156,31.859297741044898 56.04832372218905,46.522081034083506 C68.00014995227396,61.184864327122106 49.92506870310722,28.735196405906816 55.900981818149674,26.4794021793945 C61.876886584262834,24.223599003200075 93.44440528680204,2.878517658506174 37.973242473022324,15.764296818901439 C-17.497920340757386,28.650075979296705 19.54376587352334,61.184873276804225 20.791546751033646,48.34377092953457 z', style='color: rgb(0, 0, 0);')
    .col-sm-4.hidden-xs
  // --CircleSVG--------------
  // --CircleSVG--END------------
  // -------Sprite SVG --------------
  // -------Sprite SVG -END-------------
  .footer
// -Modals-Portfolio----------
#myModal.modal.fade(role='dialog')
  .modal-dialog
    // Modal content
    .modal-content
      .modal-header
      .modal-body
      .modal-footer
        //
          ---
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
// End of portfolio modals---
