@media screen and (max-width: 500px) {
    
  
  #portfolioDesc, #friendly, #emailPhone ul li {
    width: 100% !important;   
}
}


::-webkit-scrollbar { 
  background: transparent;
  border-radius:  100%;
  width: 15px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 0%;
    background: #970000;
}


::-webkit-scrollbar-track {
  border: 1px solid white;
  border-radius: 0%;
  background-color: white;
}

::-webkit-scrollbar-button {
  height:10px;
  width:50px;
  background: transparent;
  border-radius: 100%;
}



body {
  background-color: black;
  overflow: hidden;
  
}

/**/

.spritePic {
  width: 20pt;
  border: none;
  vertical-align: baseline;
  background-color: transparent;
}


#pieRotate {
  display: inline-block;
  transition: 1.5s ease-out; 
  opacity:0;
  max-height: 220px;
  max-width: 100%;
}

.wheel {
  background-color: white;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 14pt;
}

.wheel:focus {outline:0;}

#pie-upper-left {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  border-radius: 100px 0 0 0;
  margin: auto;
  display: inline-block;
  position: relative;
   transition: 0.5s;
}

#pie-upper-right {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  border-radius: 0 100px 0 0;
  margin: auto;
  display: inline-block;
  position: relative;

}

#pie-space {
  height: 5px;
  display: block;
}


#pie-lower-left {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  border-radius: 0 0 0 100px;
  margin: auto;
  display: inline-block;
  position: relative;

}

#pie-lower-right {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  border-radius: 0 0 100px 0;
  margin: auto;
  display: inline-block;
  position: relative;

}


#pie-upper-left p, #pie-lower-right p {
 -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}


#pie-upper-right p {
 -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}


#pie-lower-left p {
 -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}



.picked {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
 // background-color: blue;
}

.picked p{
  animation-name: p_rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  //color: white;
}

@keyframes rotate {
 
  50% {
        transform:rotate(5deg);
        background-color: grey;
    }
  100% {
        transform:rotate(0deg);
        background-color: #BD0900;
    }
   
}



@keyframes p_rotate {
 
  20% {
        transform:scale();
        color: black;
    }
  
  55% {
        transform:scale();
        color: white;
    }
  100% {
        transform:scale();
        color: white;
    }
   
}



/**/


.text {
  vertical-align: bottom;
  font-family: 'Titillium Web', sans-serif;
  display: block;
  background-color:black;
  max-height: 250px;
  max-width: 260px;
  bottom: 18%;
  position: absolute;
  border: 1px solid white;
  border-radius: 5%;
  color: red;
  font-size: 16pt;
  text-align: center;
  padding: 20px;
  overflow:auto;
  z-index:10000;
  
  
}

.text label {
  font-size: 12pt;
  color: black;
  background-color: white;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5%;
}

.tooltip {
  width: 200px;
  z-index: 999999;
}


.spriteOptions {
  margin-top: 25px;
}

.spriteText {
  margin-bottom: 10px;
  opacity: 1;
}

.goBack {
  display: none;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  width: 90%;
}

.triangle {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  bottom: 10%;
  border: 15px solid;
  border-color: white transparent transparent white;
  
}






svg {  
  top: 0;
  left: 40%;
  opacity: 1;
  z-index: 0;
  position: absolute;
  
}

html {
  width: 100%;
  height: 100%;
  
}

#pieBox {
  display: none;
  text-align: center;
  width 100%;
  margin-top: 1%;
  border: 1px solid ;
  height: 207px;
   background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/px_by_Gre3g.png') center center fixed;
  position: relative;
  opacity: 0;
  
}


svg path {
  fill: white;
}
.sprite path {
  fill: red; 
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}



.footer {
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
 
}

.circleSVG {
  display: none;
}

.sprite {
  position: absolute;
  top:90%;
  left:3%; 
  transform: scale(1);
}

.set1, .set2 {
  opacity: 0;
  position: absolute;
  transform: scale(1);
}

.svgBlack path {
  fill:black;
}

.svgWhite path{
  fill:white;
}

.svgGrey path{
  fill:grey;
}



.boxHeight {
  top: 100px;
  position: absolute;
}

.spritePos {
  top: 150px;
  position: absolute;
}




.sphere {
  width: 207px;
  height: 207px;
  position: absolute;
  left:50%;
  top:50%;
  border-radius: 100%;
  margin-left:-103.5px;
  margin-top:-103.5px;
  border: black solid 1px;
  
  background: url("https://res.cloudinary.com/dxqcxsull/image/upload/v1474648446/group_vp8veq.jpg") center center repeat;
  
  transform: scale(0);
}

.svgContainer {
  margin-top: 100px;
  position:;
  height: 350px;    
  
  min-width: 105px;
}
    
.col-xs-10 {
 
  width: 100%;
  height: 350px;
  
  
}

.col-sm-4 {
   
   height: 350px;
  
  
}





.s1, .s2, .s3, .s4, .s5 {
  position: absolute;
  
  
  
  
}


.s6, .s7, .s8, .s9, .s10 {
  position: absolute;
  top: -100px;  
}


button .blob {
  position: absolute;
  top: 300px;
  z-index: 40;
}

.footer {
  height: 100px;
  
  position: relative;
}

/*centerSprite*/

#spriteMe {
  display: none;
  position: relative;
  margin-top: 250px;
}


#centerDiv {
  position: relative;
  width: 100%;
  height: 300px; ;
  text-align: center;
}

.centerSprite {
  position: relative;
  left: 5px;;
  transform: scale(3);
  top:100px;
}

.centerSprite path {
  fill: red;
}

/**/

/*    ABOUT    */
#aboutMe {
  display: none;
  position: relative;
  margin-top: 250px;
  margin-left: 25px;
  margin-right: 25px;
}


#aboutMe h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 36pt;
  text-decoration: underline;
  text-decoration-style: double;  
}

#bio p {
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14pt;
  opacity:1; 
  
}

#hobbies p {
  text-align: justify;
   font-family: 'Titillium Web', sans-serif;
    font-size: 14pt;

}

#education p {
  text-align: justify;
   font-family: 'Titillium Web', sans-serif;
    font-size: 14pt;

}

.icons {
  
  border-radius: 100%;
  display: inline-block;
  width: 50px;
  margin-top: 20px;
  
}

#aboutMe h3 > i {
  position: relative;
  font-size: 34pt;
}

/*   END OF ABOUT     */


#contactMe {
  display: none;
  margin-top: 240px;
}

#contactMe h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 36pt;
  text-decoration: underline;
  text-decoration-style: double;  
}

#face {
  width: 180px;
  height: 180px;
  display: inline-block;
  border: solid black 1px;
  margin-top: 20px;
  
}

img {
  border: solid 1px black;
}

#friendly {
  text-align: justify;
  display: block;
  width: 500px;  
  margin: auto;
  margin-top: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14pt;
  
}

#emailPhone ul{     
  margin-left: -45px;
  margin-top: 15px;
  margin-bottom: 10px; 
}

#emailPhone ul li {
   
  list-style: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16pt;
  background-color: black;
  color: white;
  width: 350px;
  margin: auto;
}

#meIcons i {
  font-size: 22pt;
  color: black;
 
}

#meIcons button {
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  margin: 10px;
  margin-bottom: 50px;
}

#meIcons button.codePen {
  background-color: ;
}

/*  END OF CONTACT    */


/*Blog//////////////////////*/
#blogMe {
  display: none;
  margin-top: 240px;
  margin-left: 25px;
  margin-right: 25px;
}

#blogMe h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 32pt;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
}

/*//End of Blog/////////////*/







/*   PORTFOLIO   */

#portfolioMe {
  display: none;
  margin-top: 250px;
  margin-left: 25px;
  margin-right: 25px;
}

#portfolioDesc {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14pt;
  text-align: justify;
  margin: auto;
  margin-bottom: 40px;
  width: 500px;
}

#portfolioMe h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 36pt;
  text-decoration: underline;
  text-decoration-style: double;
  margin-bottom: 40px;
  text-align: center;
}

.panel:hover {
  box-shadow: 0 10px 15px -6px black;
}

#portfolioMe .panel-body {
  padding: 0px;
}

#portfolioMe .panel-heading {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 1px;
}

#portfolioMe .panel-footer {
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 6px -6px #777;
}

#portfolioMe a {
  color: black;
  font-size: 22pt;
}


.modal-footer {
  text-align: center;  
  margin-top: 20px;
}

.modal-footer p:first-child {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 16px;
  border: 1px solid black;
  background-color: #970000;
  text-align: center;
  color: white;
  padding: 15px;
}

.modal-footer button {
  background-color: black;
  color: white;
  width: 100%;
}

.modal-open .modal {
  width : 90%;
  height : 90vh;
  position : fixed;
  margin : auto;
}

.modal-dialog {
  width : 98%;
  margin: 0px;
  padding: 0px;
}


/*   END OF PORTFOLIO   */



